body {
    background-color: aqua;
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 40px;
    margin-left: calc(50% - 400px);
    position: relative;

}

    .left {
        display: inline-block;
        float: left;
        width: 40%;
        background-color: #36f;
        padding: 50px;
        color: #fff;
        top: 20px;
        left: 0;
        bottom: 20px;
        position: absolute;
    }

        h1 {
            text-transform: capitalize;
            font-weight: normal;
        }

        footer {
            position: absolute;
            left: 50px;
            right: 50px;
            bottom: 20px;
            font-size: 12px;
            text-align: center;
        }

            footer > a {
                color: #fff;
            }

            footer > span {

            }
            

    .right {
        display: inline-block;
        float: right;
        width: 60%;
        background-color: white;
        padding: 80px;
        position: relative;
    }

        .x {
            display: inline-block;
            width: 80px;
            height: 80px;
            text-align: center;
            font-size: 24px;
            line-height: 76px;
            top: 0;
            right: 0;
            position: absolute;
        }

        .btn,
        .form-row > span,
        .form-row > a {
            display: inline-block;
            float: left;
            padding: 10px;
            font-size: 16px;
            line-height: 20px;
        }
    
        .btn {
            background-color: #36f;
            color: #fff;
            padding-right: 50px;
            padding-left: 50px;
            border-radius: 20px;
        }

        .form-row > span {
            
        
        }

        .form-row > a {
            
        }
        
